<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sq.appinfo.dao.AppInfoDao">
	<!--按条件查询基础信息-->
	<select id="getFindIfInfo" resultType="AppInfo">
		SELECT	*,
				(SELECT valueName FROM data_dictionary d WHERE  a.flatformId=d.valueId AND d.typeCode='APP_FLATFORM') AS flatformName,
				(SELECT devName FROM dev_user WHERE id = a.devId) AS devName,			
				(SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel1) AS categoryLevel1Name,
				(SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel2) AS categoryLevel2Name,
				(SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel3) AS categoryLevel3Name,
				(SELECT valueName FROM data_dictionary d WHERE  a.status=d.valueId AND d.typeCode='APP_STATUS') AS statusName,
				(SELECT v.versionNo FROM app_version v WHERE v.id=a.versionId ) AS versionNo
		FROM app_info a 
		<where>
			<if test="softwareName != null and softwareName != ''">
				and a.softwareName like CONCAT ('%',#{softwareName},'%')
			</if>
			<if test="status!=null">
				and a.status=#{status}
			</if>
			<if test="categoryLevel1 != null">
				and a.categoryLevel1 = #{categoryLevel1}
			</if>
			<if test="categoryLevel2 != null">
				and a.categoryLevel2 = #{categoryLevel2}
			</if>
			<if test="categoryLevel3 != null">
				and a.categoryLevel3 = #{categoryLevel3}
			</if>
			<if test="flatformId != null">
				and a.flatformId = #{flatformId}
			</if>
			<if test="devId != null">
				and a.devId = #{devId}
			</if>
		</where>
	</select>
	
	<!--添加基础信息-->
	<insert id="getAddInfo">
		insert into app_info value(null,#{softwareName},#{APKName},#{supportROM},#{interfaceLanguage},#{softwareSize},#{updateDate},#{devId},#{appInfo},#{status},#{onSaleDate},#{offSaleDate},#{flatformId},#{categoryLevel3},#{downloads},#{createdBy},#{creationDate},#{modifyBy},#{modifyDate},#{categoryLevel1},#{categoryLevel2},#{logoPicPath},#{logoLocPath},#{versionId})
	</insert>
	
	<!--验证APKName-->
	<select id="checkName" resultType="AppInfo">
		select * from app_info where APKName=#{apkName}
	</select>
</mapper>